.navs-footer{
    .widget_block{
        @apply w-full justify-center items-center flex;
        .pciwgas-post-cat-inner{
            @apply bg-nezegamer-gray-opacity rounded-lg flex flex-col items-center border-4 border-nezegamer-red border-opacity-100;
            width: 100px;
            height: 100px;
            margin-bottom: 50px !important;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        .pciwgas-cat-img{
            @apply transform -rotate-45 opacity-50;
                &:hover{
                    @apply opacity-100;
                }
        }
        .pciwgas-cat-wrap{
            @apply py-4 grid grid-cols-2 w-11/12;
            .pciwgas-pdt-cat-grid{
                width:20% !important;
            }
        }
    }
}

@screen lg{
    .navs-footer{
        .widget_block{
            @apply w-auto;
            .pciwgas-cat-wrap{
                @apply py-4 block;
                .pciwgas-pdt-cat-grid{
                    @apply w-auto;
                }
            }
        }
    }
}