.tabs-comics{
    @apply flex flex-col items-end w-full py-2;
    .panels{
        @apply w-full bg-nezegamer-gray-light;
        box-shadow: 0 2rem 2rem #000;
        min-height:200px;
        border-radius:3px;
        overflow:hidden;
        .panel{
            display:none;
            animation: fadein .8s;
                .content{
                    @apply grid grid-cols-3 w-full;
                }
        }
    }
    .tabs{
        @apply flex;
        .tab{
            @apply cursor-pointer bg-nezegamer-red text-nezegamer-gray-dark inline-block;
                padding:10px 20px;
                margin:0px 2px;
                box-shadow: 0 0.5rem 0.8rem #00000080;
        }
    }
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
  .radio{
    display:none;
  }
  #one:checked ~ .panels #one-panel,
  #two:checked ~ .panels #two-panel,
  #three:checked ~ .panels #three-panel{
    display:block
  }
  #one:checked ~ .tabs #one-tab,
  #two:checked ~ .tabs #two-tab,
  #three:checked ~ .tabs #three-tab{
    background:#fffffff6;
    color:#000;
    border-top: 3px solid #000;
  }