.widget_categories{
    .wp-block-categories-list{
        @apply text-lg;
            .cat-item{
                @apply text-nezegamer-red text-xl;
                .children{
                    .cat-item{
                        @apply px-4 italic text-base text-nezegamer-white-comple no-underline;
                            &:hover{
                                @apply underline;
                            }
                    }
                }
            }
        .current-cat{
            @apply bg-nezegamer-gray-medium;
        }
        .current-cat::before{
            @apply flex justify-end w-full italic;
            content: "Estás navegando aquí";
            color: #fff !important;
            font-size: small;
        }
    }
}