.widget_details{
    @apply flex gap-2;
    .top-head__details{
        @apply flex justify-center gap-2 items-center transition duration-300 text-sm;
            &--number{
                &:before{
                    content: url('https://i.postimg.cc/DybWKkpX/call.png');
                }
                &:after{
                    content: "\007C";
                }
            }
            &--email{
                &:before{
                    content: url('https://i.postimg.cc/Mp2n6Pgr/email.png');
                }
            }
            &:hover{
                @apply text-nezegamer-red cursor-pointer;
            }
    }
}