.widget_search{
    form{
        .wp-block-search__inside-wrapper{
            border: 2px solid #fff !important;
                input{
                    @apply bg-transparent outline-none px-2;
                    border:none !important;
                    border-radius: 1.5rem !important;
                }
        }
    }
}